@model CareDev.Models.DoctorInstruction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DoctorInstruction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <input asp-for="PatientId" class="form-control" />
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstructionDate" class="control-label"></label>
                <input asp-for="InstructionDate" class="form-control" />
                <span asp-validation-for="InstructionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructions" class="control-label"></label>
                <textarea asp-for="Instructions" class="form-control"></textarea>
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medication" class="control-label"></label>
                <input asp-for="Medication" class="form-control" />
                <span asp-validation-for="Medication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FollowUpDate" class="control-label"></label>
                <input asp-for="FollowUpDate" class="form-control" />
                <span asp-validation-for="FollowUpDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalNotes" class="control-label"></label>
                <textarea asp-for="AdditionalNotes" class="form-control"></textarea>
                <span asp-validation-for="AdditionalNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
