@model ForgotPasswordViewModel
<p>Enter your Email address</p>
<form asp-action="ForgotPassword" method="post">
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" placeholder="example@gmail.com"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button class="btn btn-primary rounded-pill">Send reset link</button>
</form>
