@model ResetPasswordViewModel
<form asp-action="ResetPassword" method="post">
    <input asp-for="Token" type="hidden" />
    <input asp-for="Email" type="hidden" />
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Set new password</button>
</form>
