<head>
   <style>
       body{
            background-color: #B3E5FC;
            /* background: radial-gradient(
            #96DCF8 22%, 
            #006669 23%,
            #A4D7FF 38%
            ); */
            /* filter: brightness(60%); */
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 0px;
            margin:0px;
       }

       
   </style>
</head>

<body>
    <ul class="nav justify-content-end">
        <li class="nav-item btn btn-primary rounded-4 me-3 mb-3 text-center">
            <a class="nav-link text-white" asp-controller="Patients" asp-action="PatientDashboard" >Back</a>
        </li>
        <li class="nav-item btn-primary rounded-4 mb-3 text-center">
            <a class="nav-link text-white" asp-controller="Patients" asp-action="PatientDashboard">Menu</a>
        </li>
    </ul>
    <form method="post">
        <div class="d-flex justify-content-center align-items-center">
            <div class="text-center">
                <h1 class="mb-3 text-dark">Send Message</h1>
                <h3 class="mb-3 text-dark">Doctor Or Nuser Name</h3>
                <input type="search" class="form-control bg-white opacity-75 w-75 rounded-pill mb-3 text-dark" pacleholder="Searc Name" />
            </div>
        </div>

        <div>
                <textarea class="bg-secondary form-control opacity-50 mb-3" rows="10" placeholder="Type your message here..." required></textarea>

                <div class="text-center">

                    <input type="submit" class="btn bg-white opacity-75 w-75 rounded-pill mb-3 text-dark" value="Send Message" />

                </div>

        </div>
    </form>
   
</body>

