@model CareDev.Models.Patient

@{
    ViewData["Title"] = "ADMIT PATIENT";
}
<!DOCTYPE html>
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 20px;
            color: white;
            background-color: rgb(150, 220, 248) ;
        }

        .form-control{
            background-color: rgba(217, 217, 217, 0.60);
        }

        label{
            color: white;
        }

        .form-div{
            background-color:rgba(127, 127, 127, 0.42);
            border-radius: 10px;
            border: medium;
            border-color: white;
        }
    </style>
</head>
<body>
    <h1>ADMIT PATIENT</h1>

    <h4>Patient Details</h4>

    <div class="row">
        <div class="col-md-4 form-div" >
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group ">
                    <label asp-for="Name" class="control-label">Patient Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SurName" class="control-label">Patient SurName</label>
                    <input asp-for="SurName" class="form-control" />
                    <span asp-validation-for="SurName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Age" class="control-label">Patient Age</label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">Patient Gender</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Admit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</body>


