@model CareDev.Models.Patient

@{
    ViewData["Title"] = "Edit";
}
<body style="background-color:#E0F7FA">

    <div class="d-flex justify-content-center text-center">
        <h1>Edit Admission</h1>
    </div>

    <div class="d-flex justify-content-center align-content-center gap-2">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PatientId" />
                <div class="form-group mb-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="SurName" class="control-label"></label>
                    <input asp-for="SurName" class="form-control" />
                    <span asp-validation-for="SurName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Gender" class="control-label"></label>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="MedicationId" class="control-label"></label>
                    <select asp-for="MedicationId" class="form-control" asp-items="ViewBag.MedicationId"></select>
                    <span asp-validation-for="MedicationId" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="AllergyId" class="control-label"></label>
                    <select asp-for="AllergyId" class="form-control" asp-items="ViewBag.AllergyId"></select>
                    <span asp-validation-for="AllergyId" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ChronicConditionId" class="control-label"></label>
                    <select asp-for="ChronicConditionId" class="form-control" asp-items="ViewBag.ChronicConditionId"></select>
                    <span asp-validation-for="ChronicConditionId" class="text-danger"></span>
                </div>
@*                 <div class="form-group">
                    <label asp-for="ApplicationUserId" class="control-label"></label>
                    <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId">
                        <option value="">None</option>
                    </select>
                    <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
                </div> *@
                <hr />
                <div class="form-group d-flex justify-content-center gap-3">
                    <input type="submit" value="Edit" class="btn btn-primary w-50 rounded-pill" /><a asp-action="Index" class="w-50 btn btn-dark rounded-pill">Back to List</a>
                </div>
                <hr />
            </form>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
