@model CareDev.Models.Role

@{
    ViewData["Title"] = "Delete";
}
<body style="background-color:#B0BEC5; color:white;">
    <h1>Delete Role</h1>

    <h3>Are you sure you want to delete thisRole?</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RoleName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RoleName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Permissions)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Permissions)
            </dd>
        </dl>

        <form asp-action="Delete">
            <div>
                <input type="hidden" asp-for="RoleId" />
                <hr />
                <input type="submit" value="Delete" class="btn btn-danger rounded-pill w-25 me-1" />
                <a asp-action="Index" class="btn btn-dark rounded-pill w-25 me-1">Back to List</a>
            </div>
            
              
        </form>
    </div>
</body>

