@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<style >
    body {
        background-color: rgb(124, 155, 255);
        font-family: 'Segoe UI', sans-serif;
        color: white;
        font-weight: bold;
    }
</style> 

<body>
    <h1>Manage your account</h1>

    <div>
        <h2>Change your account settings</h2>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</body>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
