@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}
<style>

    div{
        padding:5px;
    }
    .login-btn {
        border-radius: 30px;
        background-color: white;
        color: black;
        font-weight: bold;
        width: 100%;
        padding: 10px;
    }

        .login-btn:hover {
            background-color: rgba(25,25,25,0.3);
        }

     #email-verification{
      font-size: large;
    }

    #email-verification:hover{
        transform: scale(1.1, 1.1); 
        font-weight: bold;
    }

        .div{
            border: double;
            border-color:white;
        } 

      .form-control {
        background-color: transparent !important;
        border: 2px solid white;
        color: black;
        border-radius: 20px;
        padding-left: 40px;
        height: 45px;
      } 

      .form-floating{
          color:white;
      }

</style>
<body>
    <h3>@ViewData["Title"]</h3>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row">
        <div class="col-md-6 div"> 
            <form id="email-form" method="post">
                <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="form-floating mb-3 input-group">
                        <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                        <label asp-for="Email" class="form-label"></label>
                    </div>
                }
                else
                {
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                        <label asp-for="Email" class="form-label"></label>
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link text-white">Send verification email</button>
                    </div>
                }
                <div class="form-floating mb-3">
                    <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                    <label asp-for="Input.NewEmail" class="form-label"></label>
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>
                <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn login-btn">Change Email</button>
            </form>
        </div>
    </div>

</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
