@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<style>
    div {
        padding: 5px;
    }

    #update-profile-button {
        border-radius: 30px;
        background-color: white;
        color: black;
        font-weight: bold;
        width: 100%;
        padding: 10px;
    }

        #update-profile-button:hover {
            background-color: rgba(25,25,25,0.3);
        }

    .div {
        border: double;
        border-color: white;
    }

    .form-control {
        background-color: transparent !important;
        border: 2px solid white;
        color: black;
        border-radius: 20px;
        padding-left: 40px;
        height: 45px;
    }

    .form-floating {
        color: white;
    }
</style>

<body>

   <h3>@ViewData["Title"]</h3>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row">
        <div class="col-md-6 div">
            <form id="profile-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                    <label asp-for="Username" class="form-label"></label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <button id="update-profile-button" type="submit" class="">Save</button>
            </form>
        </div>
    </div>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
