<div id="calendar"></div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');
          var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',  // week time-grid view
            // Specify a URL to fetch event JSON (method should return list of events)
            events: '/Calendar/GetEvents'
          });
          calendar.render();
        });
    </script>
}

